<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Cyber-Cypher{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/c7421d09a6.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    {% include 'favicon.html' %} {# Иконки под все браузеры, сгенерированные в realfavicongenerator.net #}
    <meta property="og:title" content="Cyber-Cypher - Передай секрет безопасно!">
    <meta property="og:site_name" content="Cyber-Cypher">
    <meta property="og:url" content="{{ url_for("index", _external=True) }}">
    <meta property="og:description" content="Передай секрет безопасно с Cyber-Cypher! Данные шифруются, можно указать время хранения и максимальное число открытий. Никто кроме обладателя уникальной ссылки не может их получить и расшифровать">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ url_for("static", filename="favicon/apple-touch-icon.png", _external=True) }}">
</head>
<body>
    {% block body %}
    {% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>
              Cyber-Cypher
              <small class="text-muted">- Передай секрет безопасно!</small>
            </h1>
        </div>
    </div>
    {% endblock %}
    {% block container %}
    <div class="container">
        {% block content %}

        {% endblock %}
        {% block footer %}
        <hr>
        <footer>
            <p>Cyber-Cypher &copy; Abramov Timur {{ now("%Y") }}</p>
        </footer>
        {% endblock %}
    </div>
    {% endblock %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    {% block body_script %}
    {% endblock %}
</body>
</html>