{% extends 'base.html' %}

{% block body %}
<form id="form" method="post" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<script>
    setTimeout(function(){document.getElementById("form").submit()}, 1)
</script>
<noscript>
<div class="alert alert-danger" role="alert">
  Без Javascript не работает
</div>
</noscript>
{% endblock %}