{% extends 'base.html' %}
{% block content %}

<h2>Страница не найдена</h2>
<p><a href="{{ url_for("index") }}">На главную</a></p>
{% endblock %}

{% block body_script %}
<script>
setTimeout(function () {
    location.href = "{{ url_for("index") }}"
}, 30000)
</script>
{% endblock %}