    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", filename = "favicon/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename = "favicon/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename = "favicon/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url_for("static", filename = "favicon/manifest.json") }}">
    <link rel="mask-icon" href="{{ url_for("static", filename = "favicon/safari-pinned-tab.svg") }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for("static", filename = "favicon/favicon.ico") }}">
    <meta name="msapplication-config" content="{{ url_for("static", filename = "favicon/browserconfig.xml") }}">
    <meta name="theme-color" content="#ffffff">