<div class="js-field-error alert alert-danger" style="display: none" role="alert"><ul></ul></div>
{{ form.csrf_token }}
<div class="form-group row">
    {{ form.time.label(class="col-md-3 col-form-label") }}
    <div class="col-md-3">
        <div class="input-group">
            {{ form.time(placeholder=form.time.default, class="form-control") }}
            <div class="input-group-append" tabindex="0" data-toggle="popover" data-placement="left"
                 title="Формат времени"
                 data-content="1d2h3m = 1 день 2 часа и 3 минуты. Не более 3х дней">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </span>
            </div>
        </div>
    </div>

    {{ form.count.label(class="col-md-3 col-form-label") }}
    <div class="col-md-3">
        {{ form.count(placeholder=form.count.default, class="form-control") }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 js-error js-error-time"></div>
    <div class="col-md-6 js-error js-error-count"></div>
</div>
<br>
<div class="form-group row">
    <div class="col-md-6 js-select-type">
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="type_select"
                       value="{{ form.type_select.choices.0.0 }}" checked>
                {{ form.type_select.choices.0.1 }}
                <small class="text-muted">{{ form.text.description }}</small>
            </label>
        </div>
        <div class="js-error js-error-type_select js-error-text"></div>
        {{ form.text(class="form-control", placeholder=form.text.label.text, rows=5) }}
    </div>
    <div class="col-md-6 js-select-type">
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="type_select"
                       value="{{ form.type_select.choices.1.0 }}">
                {{ form.type_select.choices.1.1 }}
                <small class="text-muted">{{ form.file.description }}</small>
            </label>
        </div>
        <div class="js-error js-error-file"></div>

        {{ form.file(class="form-control-file") }}
    </div>
</div>
