{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <form method="post" action="{{ url_for("encode") }}">
            <div class="card-header">
                <h4 class="card-title">Как пользоваться?</h4>
                <ol>
                    <li>Установи время жизни данных и максимальное количество открытий ссылки</li>
                    <li>Выбери текст или файл и добавь свои секретные данные в подходящее поле</li>
                    <li>Нажми "Получить ссылку" и данные будут зашифрованы и сгенерирована ссылка</li>
                    <li>Передай ссылку получателю данных, её можно открыть ограниченное число раз (см. п.1)</li>
                </ol>
            </div>
            <div class="card-body">
                {% include "form.html" %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Получить ссылку</button>
            </div>
        </form>
    </div>
    <br>

    {% include "popup.html" %}
{% endblock %}

{% block body_script %}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus'
            })

            $('[name="type_select"]')
                .on('change', function () {
                    var id = $(this).prop('checked', true).val()
                    $('#file, #text').each(function () {
                        $(this).prop({'disabled': this.id != id, 'required': this.id == id})
                    })
                })
                .first().trigger('change')

            $('.js-select-type').on('click', function () {
                $(this).find($('[name="type_select"]')).trigger('change')
            });

            var $error_template = $(".js-field-error").first()
            $('form').on('submit', function () {
                $('.js-error').each(function(){ $(this).empty() })
                $.ajax({
                    url: this.action,
                    data: new FormData(this),
                    type: "POST",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false
                })
                    .done(function (data) {
                        if (data.ok) {
                            $('form')[0].reset()
                            $('[name="type_select"]').first().trigger('change')
                            $('#secret-link').val(data.url)
                            $('#linkModal').modal({show: true, focus: true})
                        } else {
                            $.each(data.errors, function (field, errors) {
                                var $field = $('.js-error-'+field)
                                if ($field.length) {
                                    var $error = $error_template.clone()
                                    $.each(errors, function (_, err) {
                                        $error.find('ul').append($('<li>').text(err))
                                    })
                                    $field.append($error)
                                    $error.fadeIn()
                                }
                            })
                        }
                    })
                    .fail(function () {
                        console.log('fail')
                    })
                return false
            })
        })

        new Clipboard('.js-clip-btn');
    </script>
{% endblock %}