{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Секретные данные</h4>
    </div>
    <div class="card-body">
        <textarea id="secret-data" class="form-control" id="exampleFormControlTextarea1" rows="10">{{ data }}</textarea>
    </div>
    <div class="card-footer">
        <a href="#" class="js-clip-btn btn btn-primary" data-clipboard-target="#secret-data"><i class="fa fa-clipboard" aria-hidden="true"></i> Скопировать</a>
        <a class="btn pull-right" href="{{ url_for("index") }}">На главную</a></div>
    </div>
{% endblock %}

{% block body_script %}
<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
<script>
    new Clipboard('.js-clip-btn');
</script>
{% endblock %}