<!-- Modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkModalLongTitle">Секретная ссылка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input id="secret-link" type="text" class="form-control" value="">
                    <div class="input-group-append js-clip-btn" title="Скопировать в буффер" data-clipboard-target="#secret-link">
                        <span class="input-group-text" id="basic-addon2">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>